<!DOCTYPE html>
<html>

<head>
    <!-- CSS ===================== -->
    <!-- load bootstrap -->
    <title>AngularJS Form Validation</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 30px;
        }

        button{
            margin: 10px auto;
        }

    </style>

    <!-- JS ===================== -->
    <!-- load angular -->
    <script src="http://code.angularjs.org/1.2.6/angular.js"></script>
    <script src="app.js"></script>
</head>

<!-- apply angular app and controller to our body -->

<body ng-app="validationApp" ng-controller="mainController">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">

            <!-- PAGE HEADER -->
            <div class="page-header">
                <h1>AngularJS Form Validation</h1>
            </div>

            <!-- FORM -->
            <!-- pass in the variable if our form is valid or invalid -->
            <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
                <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->


                <!-- First Name -->
                <div class="form-group" ng-class="{ 'has-error' : userForm.firstName.$invalid && !userForm.firstName.$pristine }">
                    <label>First Name</label>
                    <input type="text" name="firstName" class="form-control" ng-model="firstName" ng-minlength="3" ng-maxlength="12" required>
                    <p ng-show="userForm.firstName.$error.minlength" class="help-block">First Name is too short.</p>
                    <p ng-show="userForm.firstName.$error.maxlength" class="help-block">First Name is too long.</p>
                    <p ng-show="userForm.firstName.$invalid && !userForm.firstName.$pristine" class="help-block">First Name is required.</p>
                </div>

                <!-- Last Name -->
                <div class="form-group" ng-class="{ 'has-error' : userForm.lastName.$invalid && !userForm.lastName.$pristine }">
                    <label>Last Name</label>
                    <input type="text" name="lastName" class="form-control" ng-model="lastName" ng-minlength="3" ng-maxlength="12" required>
                    <p ng-show="userForm.lastName.$error.minlength" class="help-block">Last Name is too short.</p>
                    <p ng-show="userForm.lastName.$error.maxlength" class="help-block">Last Name is too long.</p>
                </div>

                <!-- Phone -->
                <div class="form-group" ng-class="{ 'has-error' : userForm.phone.$invalid && !userForm.phone.$pristine }">
                    <label>Phone</label>
                    <input type="text" name="phone" class="form-control" ng-model="phone" ng-minlength="10" ng-maxlength="10" placeholder="(XXX) XXX-XXXX" required>
                    <p ng-show="userForm.phone.$error.minlength" class="help-block">Phone number is too short.</p>
                    <p ng-show="userForm.phone.$error.maxlength" class="help-block">Phone number is too long.</p>
                </div>

                <!-- Address 1 -->
                <div class="form-group" ng-class="{ 'has-error' : userForm.address.$invalid && !userForm.address.$pristine }">
                    <label>Address Line 1</label>
                    <input type="text" name="address" class="form-control" ng-model="address" placeholder="123 First Street" required>
                    <p ng-show="userForm.address.$invalid && !userForm.address.$pristine" class="help-block">Address Line 1 is required.</p>
                </div>

                <!-- Address 2 -->
                <div class="form-group" ng-class="{ 'has-error' : userForm.address2.$invalid && !userForm.address2.$pristine }">
                    <label>Address Line 2</label>
                    <input type="text" name="address2" class="form-control" ng-model="address2" placeholder="Apt 456" required>
                    <p ng-show="userForm.address2.$invalid && !userForm.address2.$pristine" class="help-block">Address Line 1 is required.</p>
                </div>

                <!-- City -->
                <div class="form-group" ng-class="{ 'has-error' : userForm.city.$invalid && !userForm.city.$pristine }">
                    <label>City</label>
                    <input type="text" name="city" class="form-control" ng-model="city" placeholder="Camarillo" required>
                    <p ng-show="userForm.city.$invalid && !userForm.city.$pristine" class="help-block">City is required.</p>
                </div>

                <!-- State -->
                <div class="form-group" ng-class="{ 'has-error' : userForm.state.$invalid && !userForm.state.$pristine }">
                    <label>State</label>
                    <input type="text" name="state" class="form-control" ng-model="state" placeholder="CA" required>
                    <p ng-show="userForm.state.$invalid && !userForm.state.$pristine" class="help-block">State is required.</p>
                </div>

                <!-- Zipcode -->
                <div class="form-group" ng-class="{ 'has-error' : userForm.zipcode.$invalid && !userForm.zipcode.$pristine }">
                    <label>Zipcode</label>
                    <input type="text" name="zipcode" class="form-control" ng-model="zipcode" ng-minlength="5" ng-maxlength="5" placeholder="95110" required>
                    <p ng-show="userForm.zipcode.$error.minlength" class="help-block">Zipcode is too short.</p>
                    <p ng-show="userForm.zipcode.$error.maxlength" class="help-block">Zipcode is too long.</p>
                </div>

                <!-- EMAIL -->
                <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" ng-model="email" placeholder="name@domain.com" required>
                    <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
                </div>


                <!-- SUBMIT BUTTON -->
                <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit
                </button>

            </form>

        </div>
        <!-- col-sm-8 -->
    </div>
    <!-- /container -->
</body>

</html>